profiles {
  standard {
    process.executor = 'local'
  }
  lsf {
    process.executor = 'lsf'
  }
  slurm {
    process.executor = 'slurm'
  }
  docker {
    process.container = 'ghcr.io/msk-access/krewlyzer:latest'
    process.executor = 'local'
    docker.enabled = true
    docker.runOptions = '-u \\$(id -u):\\$(id -g)'
  }
  singularity {
    process.container = 'ghcr.io/msk-access/krewlyzer:latest'
    process.executor = 'local'
    singularity.enabled = true
    singularity.autoMounts = true
  }
}
